
.form-demo .card{
    min-width: 550px;
    margin-top: 15%;
    border-radius: 15px;
    padding:30px;
    box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(133, 130, 130, 0.08);

    
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .p-field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
        margin-top: 10%;
    }
}
h4{
    font-Weight:bolder;
    font-Family:revert
}
    